# Bagian 1|

## Nomer 1

In [1]:
# Membuat tangga
for i in range(1,7):
  print('#'*i)

#
##
###
####
#####
######

## Nomer 2

In [8]:
for i in range(8):
  for j in range(4):
    print('#',end='')
  print('')

####
####
####
####
####
####
####
####

## Nomer 3

In [10]:
from datetime import date

hari = 21
bulan = 1
tahun = 1945

date(day=hari,month=bulan, year=tahun).strftime('%d %B %Y')

'21 January 1945'

## Nomer 4

In [32]:
myInput = input('node array range: ')
myInput

node array range: 1 10

'1 10'

In [33]:
def sequence(myInput):
  arr_input = myInput.split(" ")
  start = int(arr_input[0])
  finish = int(arr_input[1])

  if(start < finish):
    for i in range(start,finish+1):
      print(i,end=' ')
  else:
    for i in range(start, finish-1,-1):
      print(i,end=' ')

In [34]:
sequence(myInput)

1 2 3 4 5 6 7 8 9 10

## Nomer 5

In [39]:
myInput = input('node array range with Step: ')
myInput

node array range with Step: 5 2 1

'5 2 1'

In [40]:
def sequence(myInput):
  arr_input = myInput.split(" ")
  start = int(arr_input[0])
  finish = int(arr_input[1])
  step = int(arr_input[2])

  if(start < finish):
    for i in range(start,finish+1,step):
      print(i,end=' ')
  else:
    step = -abs(step)
    for i in range(start, finish-1,-1):
      print(i,end=' ')

In [41]:
sequence(myInput)

5 4 3 2

## Nomer 6

In [45]:
arr = [
  ["0001", "Roman Alamsyah", "Bandar Lampung", "21/05/1989", "Membaca"],
  ["0002", "Dika Sembiring", "Medan", "10/10/1992", "Bermain Gitar"],
  ["0003", "Winona", "Ambon", "25/12/1965", "Memasak"],
  ["0004", "Bintang Senjaya", "Martapura", "6/4/1970", "Berkebun"]
]

In [52]:
for i in arr:
  print('NOMOR ID: ',i[0])
  print('Nama Lengkap: ', i[1])
  print('TTL: ',i[2]+' '+i[3])
  print('Hobi: ',i[4])
  print('')

NOMOR ID:  0001
Nama Lengkap:  Roman Alamsyah
TTL:  Bandar Lampung 21/05/1989
Hobi:  Membaca

NOMOR ID:  0002
Nama Lengkap:  Dika Sembiring
TTL:  Medan 10/10/1992
Hobi:  Bermain Gitar

NOMOR ID:  0003
Nama Lengkap:  Winona
TTL:  Ambon 25/12/1965
Hobi:  Memasak

NOMOR ID:  0004
Nama Lengkap:  Bintang Senjaya
TTL:  Martapura 6/4/1970
Hobi:  Berkebun

## Nomer 7

In [74]:
myInput = input('node array balikKata: ')
myInput

node array balikKata: PadjadjaranLab

'PadjadjaranLab'

In [76]:
arr_char = []
new_word = ''

for i in myInput:
  arr_char.append(i)

for j in range(len(arr_char)-1, -1 ,-1):
  new_word += arr_char[j]

print(new_word)

baLnarajdajdaP

## Nomer 8

In [78]:
arr = [["Abduh", "Muhamad", "male", 1992], ["Ahmad", "Taufik", "male",
1985]]

obj = {}

arr

[['Abduh', 'Muhamad', 'male', 1992], ['Ahmad', 'Taufik', 'male', 1985]]

In [92]:
for i in arr:
  obj[i[0]+' '+i[1]] = {'firstName':i[0],
                        'lastName':i[1],
                        'gender':i[2],
                        'age':i[3]
                        }

for i,val in enumerate (obj):
  print(i+1,'. ',val,': ',obj.get(val))
  print('')

1 .  Abduh Muhamad :  {'firstName': 'Abduh', 'lastName': 'Muhamad', 'gender': 'male', 'age': 1992}

2 .  Ahmad Taufik :  {'firstName': 'Ahmad', 'lastName': 'Taufik', 'gender': 'male', 'age': 1985}

## Nomer 9

## Nomer 10

In [103]:
penumpang = input('nama: ')
start = input('dari: ')
finish = input('ke: ')

nama: asdfa
dari: b
ke: af

4

In [109]:
def naikAngkot(nama, start, finish):
  distance = ord(finish) - ord(start)
  distance
  
  bayar = distance * 2000
  return [ {'penumpang: ':nama, 'naikDari: ':start,' tujuan: ':finish,'bayar: ':bayar}]

In [110]:
naikAngkot(penumpang,start,finish)

[{' tujuan: ': 'f',
  'bayar: ': 8000,
  'naikDari: ': 'b',
  'penumpang: ': 'asdfa'}]

## Nomer 11

In [112]:
data = [
        {
          'name': 'Bondra',
          'score': 100,
          'class': 'adonis'},
        {
          'name': 'Putri',
          'score': 76,
          'class': 'laravel'
        },
        {
          'name': 'Iqbal',
          'score': 92,
          'class': 'adonis'
        },
        {
          'name': 'Tyar',
          'score': 71,
          'class': 'laravel'
        },
        {
          'name': 'Hilmy',
          'score': 80,
          'class': 'vuejs'
        }
]

In [119]:
def nilaiTertinggi(data):
  temp = 0
  temp_arr = []
  for i in data:
    if(i['score'] > temp):
      temp_arr.insert(0,i)
      temp = i['score']
    else:
      temp_arr.append(i)
  return temp_arr

In [120]:
nilaiTertinggi(data)

[{'class': 'adonis', 'name': 'Bondra', 'score': 100},
 {'class': 'laravel', 'name': 'Putri', 'score': 76},
 {'class': 'adonis', 'name': 'Iqbal', 'score': 92},
 {'class': 'laravel', 'name': 'Tyar', 'score': 71},
 {'class': 'vuejs', 'name': 'Hilmy', 'score': 80}]